//keyboard
NET "k_clk" LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "k_data" LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

//VGA
NET "blue" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "green" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "hsync" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "red" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vsync" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; 
//switch
NET "SW[0]" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "SW[1]" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "SW[2]" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "SW[3]" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ; 

//clock
NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;

//reset
NET "rst" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;